Flask==2.0.1
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.46
Werkzeug==2.0.2
Flask-Login==0.5.0
Flask-WTF==0.15.1
Flask-Migrate==3.1.0
PyJWT==2.1.0
python-dotenv==0.19.0
python-mpesa==0.1.10
paypalrestsdk==1.13.1
requests==2.8.1
gunicorn==22.0.0
